node_modules/
.next/
out/
.env
.env*.local
*.tsbuildinfo
package-lock.json

# Prisma
/src/generated/prisma
prisma/migrations/

# Docker
docker-compose.override.yml

# OS
.DS_Store
Thumbs.db

# IDE
.vscode/
.idea/
*.swp
*.swo

# Debug
npm-debug.log*
